@charset "utf-8";
 CSS Document
*{
	padding:0px;
	margin:0px;
}
body{
	background:url("../img/bg.png");
	width:100%;
	background-size:100%;
}
.custom_navigate{
	margin-top: 90px;
	background-color: transparent !important;
	display:block;
	margin-left:40px;
}
.custom_navigate li,.custom_navigate li a{
	color:white !important;
	font-size: 24px !important;
	font-family: "幼圆";
	float: left;
	text-decoration: none;
	margin-left: 5px;
}
.custom_container{
	margin:0 auto;
}
.left_wrapper{
	margin-top: 170px;
	border-radius: 10px;
	width:288px;
	overflow: hidden;
	display:inline-block;
	float:left;
}
.leftlink{
	height:560px;
	width:288px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}
.leftlink ul{
		list-style: none;
		font-family:"微软雅黑";
		font-size: 24px;	
    }
.leftlink ul li{
		height:45px;
		border-bottom:1px solid gray;
		text-align: center;
		line-height: 45px;	
	}
.leftlink ul li a:link{
    	color:#69BDCE;
    	text-decoration:none;
    }
.leftlink  ul li a:visited{
    	color:#3DAEC3;
    	font-weight: bold;
    }
.leftlink ul li a:hover{
		color:#3DAEC3;
		font-weight: bold;
	}


.right{
	width:910px;
	height:447px;
	display:inline-block;
	border-radius: 10px;
	margin-top: 150px;
	margin-left: 80px;
}

.main_top{
	padding-top:20px;
	margin:0px auto;
	width:960px;
}

.main_top_main{
	height:180px;
	background-color: #fff;
	border-radius: 10px;
}
.main_top_down{
	width:960px;
	height:100px;
	margin-top:30px;
}
.main_top_down a{
	margin-left: 60px;
	margin-right: 60px;
	outline:none;
}
.last_passage{
	width:93px;
	height:30px;
	background:url("../img/上一篇.png") no-repeat;
	background-size:93px 30px;
	display:inline-block;
}
.next_passage{
	width:93px;
	height:30px;
	background:url("../img/下一篇.png") no-repeat;
	background-size:93px 30px;
	display:inline-block;
}
.next_student{
	width:123px;
	height:30px;
	background:url("../img/下一个同学.png") no-repeat;
	background-size:123px 30px;
	display:inline-block;
}
.correcting{
	width:101px;
	height:30px;
	background:url("../img/批改.png") no-repeat;
	background-size:101px 30px;
	display:inline-block;
}
.correcting_form{
	width:250px;
	margin-left:150px;
}
.main_down{
	height:500px;
	width:960px;
	background-color: #fff;
	border-radius: 10px;
	margin:10px auto;
	overflow:hidden;
}
.sentence{
	padding:20px;
	font-family: "微软雅黑";
	font-size:24px;
	width:960px;
	height:550px;
	overflow-y:auto;
	overflow-x:none;
}
.submit{
	background:url("../img/提交.png") no-repeat;
	background-size: 110px 42px;
	width:110px;
	height:42px;
	border: none;
	border-radius: 5px;
	outline: none;
}
input{
	border-top:none;
	border-left: none;
	border-right: none;
	border-bottom:1px solid #e6e6e6;
	margin-bottom: 10px;
	outline:none;
}
textarea{
	border:1px solid #e6e6e6;
	outline:none;
}
/*audiojs*/
/*有一部分样式是在audio.js里面加的*/
.audiojs .play-pause{
	width:75px;
	height:70px;
}
.audiojs .play { width: 65px; height: 68px; /*padding: 0px 8px 0px 0px;*/background:url(../img/play.png) no-repeat; }
.audiojs .pause{ width: 65px; height: 68px; /*padding: 0px 8px 0px 0px;*/background:url(../img/pause.png) no-repeat; }

.audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px; }

.audiojs .scrubber { background: #5a5a5a; width: 533px; height:10px; margin: 5px; border-radius: 5px; }

.audiojs .progress { 
    height: 10px; width: 0px; background: #94d8e4;
}

.audiojs .loaded { 
	height: 10px; background:#3daec3;
}

.audiojs .time { float: left; height: 25px; line-height: 25px; }

.audiojs .bar {
	margin-top:21px;
	float:right;
}
.audiojs .error-message { height: 24px;line-height: 24px; }
    