.custom_navigate{
	margin-top: 60px;
	background-color: transparent !important;
	display:inline-block;
	margin-left: 40px;
}
.custom_navigate li,.custom_navigate li a{
	color:white;
	font-size: 24px !important;
	font-family: "幼圆";
	float: left;
	text-decoration: none;
}
.custom_navigate .custom_active{
	color:white;
}
.custom_container{
	background: url("../img/bg.png") no-repeat;
	width:100%;
	background-size: 100%;
}
.film_segment_box{
	width:431px;
	float:left;
	margin:0 5px;
}
.film_segment_box ul{
	margin:0 0!important;
}
.custom_film{
	width:100%;
	background-color: white;
	padding:10px 10px !important;
	margin: 5px 10px !important;
}
.custom_film .media-left img{
	width:120px;
	height:120px;
}
.custom_film .media-body .button{
	background: url("../img/checkGrade.png") no-repeat;
	outline: none;
	border:none;
	width:103px;
	height:31px;
	background-size: 100%;
}
.box {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.box img {
	width:60px;
	height:60px;
}
