<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$Think.const.HOME_CSS}bootstrap.min.css" >
    <link  rel="stylesheet" href="{$Think.const.HOME_CSS}nav_style.css">
    <link  rel="stylesheet" href="{$Think.const.Tone}css/choose_course.css">
	<title>GDUFS-TITE i听说</title>

</head>
<body class="custom_container">
  <nav class="navbar navbar-default navbar-fixed-top nav_custom">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#" title="i听说"><div class="logo"></div></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1.11111px;">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="__MODULE__/Movie/index" title="影视配音"><div class="nav_img1"></div></a></li>
        <li><a href="__ACTION__" title="语音语调"><div class="nav_img2"></div></a></li>
        <li><a href="__MODULE__/Text/index" title="演讲与散文"><div class="nav_img3"></div></a></li>
			  <li><a href="#" title="设置个人信息" data-toggle="modal" data-target="#myModal"><div class="nav_img4"></div></a></li>
        <li><a href="javascript:void(0)" title="头像"><div class="nav_img_photo"></div></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>




  <ol class="custom_navigate list-unstyled">
    <li>选择语音语调练习课程</li>
    <li>&gt;&gt;</li>
  </ol>
<include file="index/modal"/>
  <div id="masonary" class="container container-fluid">
    <ul class="list-unstyled">
      <?php
      foreach($res as $course){
      ?>
      <li>
        <div class="media jumbotron custom_film box">
          <div class="media-body">
            <h2 class="media-heading"><?php echo $course['course_name']?><small>共有<?php echo $course['course_num']?>个练习</small></h2>
            <p><?php echo $course['course_introduction']?></p>
            <a href="__CONTROLLER__/sentenceList?course_id=<?php echo $course['course_id']?>"><div class="button"></div></a>
          </div>
        </div>
      </li>
      <?php
      }
      ?>
    </ul>
  </div>
  
  <script src="{$Think.const.HOME_JS}jquery-1.11.2.min.js"></script>
  <script src="{$Think.const.HOME_JS}bootstrap.min.js"></script>
  <script src="{$Think.const.HOME_JS}jquery.js"></script>
  <script src="{$Think.const.HOME_JS}modal.js"></script>
</body>
</html>
